.spacer {
    height: 50px;
}

.LineBox{
  padding-top: 30px;
  padding-bottom: 30px;
}
#hotSaleLineLeft{
  width: 30%;
  position: absolute;
  left: 10%;
  z-index: 5;
  color: black;
  border: Tomato solid;
  top: 800px;
  opacity: 40%;
}
#hotSaleLineRight{
  width: 30%;
  position: absolute;
  right: 10%;
  z-index: 5;
  color: black;
  border: Tomato solid ;
  top: 800px;
  opacity: 40%;
}
#HotSaleTitle{
  position: absolute;
  top: 740px;
  left: 43%;
  font-weight: 800;
  font-size: 40px;
  color: Tomato;
}
.HotSaleBox{
  padding-top: 30px;
  padding-bottom: 30px;
}
.S01{
  position: absolute;
  left: 200px;
  float:left;
  text-align:center;
  width: 400px;
  height: 500px;
  transition: .7s;
}
#S01{
  border: 5px #FFFFBF solid;
}
.S02{
  position: absolute;
  right: 200px;
  float:left;
  text-align:center;
  width: 400px;
  height: 500px;
  transition: .7s;
}
#S02{
  border: 5px #FFFFBF solid;
}

.S01:hover{
  opacity: 70%;
}
.S02:hover{
  opacity: 70%;
}