html, body {
    height: 100%;
    background-color: #FAFBFC;
    z-index: -5;
    font-family: 'cwTeXYen', sans-serif;
}
#id_wrapper {
    min-height: 100%;
    position: relative;
}
/*頂部欄目*/
.navbar{
    overflow: hidden;
    background-color: #FAFBFC;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 0px;
    z-index: 5;
    opacity: 85%;
    margin-left: -10px;
    margin-right: -10px;

}
.nav_box ul,li{
    list-style: none;

}
.nav_box a {
    float: left;
    display: block;
    color: #0f4c5c;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 300;
    margin-left: 10%;
    transition: .3s;
    margin-top: -16px;
    padding-top: 15px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.nav_box a:hover {
    background: Tomato;
    color: #FAFBFC;
    border-radius: 10px;
}
.nav_box{
    overflow: hidden;
    width: 100%;
    height: 40%;
    background-color: #FFE845;

}
#brand_box{
    overflow: hidden;
    width: 100%;
    height: 120px;
    background-color: #FAFBFC;
    opacity: 70%;
    transition: .7s;
}
#brand_box:hover{
    opacity: 100%;
}
.img_brand{
    width:10%;
    height: auto;
    position: absolute;
    left: 17%;
    top: 10px;
}
.cart_style a{
    font-size: 2em;
    color: Tomato;
    position: absolute;
    top: 50px;
    right: 20%;
    opacity: 70%;
    transition: .3s;
}
.cart_style a:hover{
    opacity: 100%;
}
.envelope_style a{
    font-size: 2em;
    color: Tomato;
    position: absolute;
    top: 50px;
    right: 5%;
    opacity: 70%;
    transition: .3s;
}
.envelope_style a:hover{
    opacity: 100%;
}
.idcard_style a{
    font-size: 2em;
    color: Tomato;
    position: absolute;
    top: 50px;
    right: 15%;
    opacity: 70%;
    transition: .3s;
}
.idcard_style a:hover{
    opacity: 100%;
}
.headset_style a{
    font-size: 2em;
    color: Tomato;
    position: absolute;
    top: 50px;
    right: 10%;
    opacity: 70%;
    transition: .3s;
}
.headset_style a:hover{
    opacity: 100%;
}
.search_style a{
    font-size: 2em;
    color: Tomato;
    position: absolute;
    top: 50px;
    right: 25%;
    opacity: 70%;
    transition: .3s;
}
.search_style a:hover{
    opacity: 100%;
}

.lightbox{
    display: none;
}

.lightbox:target {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
}

/* Lightbox content */
.lightbox figcaption {
  width: 900px;
  position: fixed;
  height: 500px;
  background-color: #FAFBFC;
  top: 180px;
  left: 300px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  opacity: 80%;
}
.lightbox p1{
    color: #7194F5;
    text-align: center;
    font-size:20px;
    font-weight: 400; 
    position: absolute;
    left: 35%;
    top: 20%;

}
.lightbox p2{
    color: #7194F5;
    text-align: center;
    font-weight: 800;
    font-size: 60px;
    position: absolute;
    left: 32%;
    top:55%;

}
.lightbox hr{
    color: #7194F5;
    text-align: center;
    border-width: 8px;
    border-color: #7194F5;
    width: 95%;
    top: 30%;
    left: 1.5%;
    position: absolute;

}

/* Close button */
.lightbox .close {
  position: relative;
  display: block;
}

.lightbox .close::after {
  right: 300px;
  top: 165px;
  width: 2rem;
  height: 2rem;
  position: fixed;
  display: flex;
  z-index: 3;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 50%;
  color: white;
  content: "×";
  cursor: pointer;
}

/* Lightbox overlay */
.lightbox .close::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,.7);
  content: "";
  cursor: pointer;
}

/*頂部欄目結束*/


/*底部Footer*/
#id_footer {
    height: 40px;
    position: absolute;
    top: 110%;
    width: 101%;
    background-color:#FFE845 ;
    display: block;
    text-align: center;
    margin-left: -10px;
}
.toTop{
  position: absolute;
  top: 0%;
}
/*網頁內容CSS*/
#id_content {
    /* 留出header及footer區塊的空間 */
    padding-top: 160px;
    padding-bottom: 40px;
}
.topArrow_style a{
    font-size: 4em;
    color: Tomato;
    position: fixed;
    bottom: 6%;
    right: 0%;
    opacity: 70%;
    transition: .3s;
    z-index: 100;
}
.cart_style a:hover{
    opacity: 100%;
}
.topbox{
    padding-top: 160px;
}
