body{
	font-family:"微軟正黑體";
}
.PIC{
	position:absolute;
	top:235px;
	left:330px;
}
.PIC:hover{
	transform: scale(1.05);
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}


.modal-content {
  margin: auto;
  display: block;
  width: 35%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}


.T1{
	position:absolute;
	top:270px;
	left:750px;
	font-size:30px;
	color:	#E09200;
}
.T2{
	position:absolute;
	top:340px;
	left:750px;
	font-size:20px;
	color:#FFBD45;
}
.T3{
	position:absolute;
	top:400px;
	left:750px;
	font-size:20px;
	color:#FFBD45;
}
.T4{
	position:absolute;
	top:460px;
	left:750px;
	font-size:20px;
	color:#FFBD45;
}
.T4_1{
	position:absolute;
	top:520px;
	left:750px;
	font-size:20px;
	color:#FF8800;
}
.T5{
	position:absolute;
	top:550px;
	left:800px;
	font-size:18px;
}
#myform{
	position:absolute;
	top:600px;
	left:930px;
	font-size:18px;
}

.qty {
  width: 40px;
  height: 35px;
  text-align: center;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}


input.qtyplus {
  width: 25px;
  height: 35px;
  border: 1px solid #aaa;
  background: #f8f8f8;
}

input.qtyminus {
  width: 25px;
  height: 35px;
  border: 1px solid #aaa;
  background: #f8f8f8;
}
#BUYY{
	position:absolute;
	top:55px;
	left:200px;
	font-size:18px;
}
.price1{
	position:absolute;
	top:585px;
	left:1150px;
	font-size:20px;
}
.price2{
	position:absolute;
	top:555px;
	left:1200px;
	font-size:35px;
	color:#FFBD45;
}
.price3{
	position:absolute;
	top:590px;
	left:1340px;
	font-size:20px;
}
.stars-bg{
    position: absolute;
    left:470px;
    top:600px;
    display: inline-block;
    height: 19px;
    width: 157px;
    background: url(../img/evaluate.jpg) 0 0;
}
.star-active{
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    height: 100%;
    background: url(../img/evaluate2.jpg) 0 -24px;
}
.star-word{
	position:absolute;
	left:635px;
	top:598px;
	color:#FFBD45;
	font-size:18px;
}
.star-assess{
	position:absolute;
	left:335px;
	top:577px;
	font-size:20px;
	color:#FFBD45;
}